@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {
  --color-myWhite: #fff;
  --color-myBlack: #000;
  --color-myBlue-950: #202733;
  --color-myBlue-900: #313a48;
  --color-myBlue-600: #4f5d74;
  --color-myBlue-200: #cee3e9;
  --color-myGreen-300: #53ffaa;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-myBlue-950);
  display: grid;
  place-items: center;
  padding: 1rem;
}
